:root {
    --body-font-family: "Inter", sans-serif;
    --body-font-size: 1.1rem;
    --color-titulo: #000000;
    --color-btn-inicio: #228f86; /*para configuracion*/
    --color-btn-inicio-hover: #0d524c;
    --color-nueva-seccion: #005954; /*para nuevas secciones(acordeon)*/
    --color-fondo-general: #FAF9F6;
    /*--color-fondo-general: #FFF7F2;*/
}

html {
    font-size: var(--body-font-size);
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-size: var(--body-font-size);
    font-family: var(--body-font-family);
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--color-fondo-general);
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}










/* ------------------------ ESTILOS GENERALES ---------------------------------------------- */
/*Para el titulo principal de todas las paginas*/
.title-page {
    color: var(--color-titulo);
    font-size: 2.3em;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

/*NUEVA SECCIÓN*/
.nueva-seccion {
    background-color: var(--color-nueva-seccion);
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}











/* ------------------------ CONTENEDORES GENERICOS ---------------------------------------------- */
.container3 { /* Es para los botones de configuracion y reportes */
    /*max-width: 1300px;*/
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


    .container3 > * { /* Aplica esto a los hijos directos de container3 */
        flex: 1 1 calc(33.333% - 20px);
        max-width: calc(33.333% - 20px);
        box-sizing: border-box;
    }









/* ------------------------ BARRA LATERAL CON ICONOS ---------------------------------------------- */
.nav-link:hover {
    background-color: #9ce0db;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.sidebar {
    width: 60px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FAF9F6;
    transition: width 0.3s ease;
    overflow-x: hidden;
    white-space: nowrap;
    z-index: 1000;
}

    .sidebar:hover {
        width: 250px;
    }

    .sidebar .nav-link {
        padding: 10px 12px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

        .sidebar .nav-link .nav-text {
            display: none;
        }

    .sidebar:hover .nav-link .nav-text {
        display: inline;
    }

    .sidebar:hover .nav-link {
        text-align: left;
    }

    .sidebar .navbar-brand,
    .sidebar:hover .navbar-brand {
        text-align: center;
    }

    .sidebar img {
        width: 40px;
        height: auto;
        transition: transform 0.3s ease;
    }

    .sidebar:hover img {
        transform: scale(1.1);
    }

.main-content {
    margin-left: 60px;
    padding: 20px;
    transition: margin-left 0.3s ease;
}

.sidebar:hover ~ .main-content {
    margin-left: 250px;
}

.sidebar .bi-person {
    color: #338b85;
    font-size: 1.2rem;
}

.bi-box-arrow-right {
    color: #e72d27;
    font-size: 1.2rem;
}

/* ----------- CERRAR SESIÓN EN ROJO ----------- */

.cerrar-sesion {
    color: #e72d27 !important;
    font-weight: bold;
}

.cerrar-sesion .bi {
    color: #e72d27 !important;
}

.cerrar-sesion:hover {
    background-color: #f8d7da; /* rojo claro tipo alerta */
    border-radius: 5px;
}

/* --------------------------- ICONOS DEL MENU LATERAL ---------------------------------- */
.icono-menu:hover i {
    color: #22b3b0;
    /*color: #1d8d8b;*/
    transform: scale(1.3);
}

/* ------------------------ FIN BARRA LATERAL CON ICONOS ---------------------------------------------- */










/*--------------------BOTONES-----------------------------*/

.btn-lista {
    /*padding: 7px 10px;*/
    font-size: 1.1rem;
}

/* BOTON MENU INICIO CUADRADO*/
.btn-inicio {
    width: 100%;
    height: 100px;
    background-color: var(--color-btn-inicio);
    color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    display: flex; /* Habilita Flexbox para los elementos internos */
    flex-direction: column; /* Apila los elementos verticalmente */
    justify-content: center; /* Centra verticalmente el contenido dentro del botón */
    align-items: center; /* Centra horizontalmente el contenido dentro del botón */
}

    .btn-inicio i {
        margin-bottom: 5px;
        font-size: 1.8em;
    }

    .btn-inicio span {
        text-align: center;
        font-size: var(--body-font-size);
    }

    .btn-inicio:hover {
        background-color: var(--color-btn-inicio-hover);
    }












/*-----------------ACORDEON (EFECTO ACORDEON)----------------------*/
.accordion {
    max-width: 1600px; /* Por ejemplo, un ancho máximo de 600px */
    margin-left: auto; /* Centrarlo si tiene un max-width */
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 20px;
}

.acordeon-fijo {
    cursor: default !important; /* No pointer */
    background-image: none !important; /* Quita flechita */
    /*padding-left: 1rem !important;*/ /* Acomoda texto si quitás la flecha */
}

    .acordeon-fijo::after {
        display: none !important;
    }
/* Color del encabezado cuando está colapsado (cerrado) */
.accordion-button.collapsed {
    background-color: #b2b2b2; /* Un gris claro */
    color: #000; /* Color del texto */
}

/* Color del encabezado cuando está abierto */
.accordion-button:not(.collapsed) {
    background-color: #005954; /* Azul de Bootstrap */
    color: #fff; /* Texto blanco */
}

/* Opcional: Eliminar o cambiar el box-shadow al hacer foco */
.accordion-button:focus {
    box-shadow: none; /* Eliminar el box-shadow */
}

.accordion-button::after {
    /* Por ejemplo, para hacer una flecha negra blanca o viceversa */
    filter: invert(100%);
}

/*Personalizado para facturaas*/
.acordeon-fijo-chico {
    max-width: 800px;
    margin-left: auto; /* Centrarlo si tiene un max-width */
}











/*-----------------FORMULARIOS----------------------*/
.form-columns-container3 {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-bottom: 15px;
}

    /* Estilo para cada div que contiene un campo de formulario */
    .form-columns-container3 > div {
        /* flex-basis: Define el tamaño inicial del elemento antes de que se distribuya el espacio.
       calc(33.333% - (2 * 1.5rem / 3)) para 3 columnas con un gap de 1.5rem.
       (2 * 1.5rem / 3) es la cantidad de gap que le corresponde a cada elemento en la fila.
       Esto asegura que el cálculo sea preciso y el espacio se vea uniforme.
    */
        flex: 1 1 calc(33.333% - (2 * 1.5rem / 3));
        min-width: 250px; /* Ancho mínimo antes de que el elemento salte a la siguiente línea */
    }

.form-button-registrar {
    flex: 1 1 100%; /* Ocupa el 100% del ancho, forzándolo a una nueva línea */
    text-align: center;
    margin-top: 1rem; /* Espacio superior para separarlo de los campos */
}


/*para los radio buttons*/
.inputFormularioEnLinea {
    margin-right: 10px;
}

.obligatorio {
    color: #ff1b13;
}


.form-columns-container5 {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-bottom: 15px;
}

    /* Estilo para cada div que contiene un campo de formulario */
    .form-columns-container5 > div {
        flex: 1 1 calc(20% - (4 * 1.5rem / 5)); /* 100% ÷ 5 columnas - compensación de gap */
        min-width: 200px; /* Ancho mínimo antes de que el elemento salte a la siguiente línea */
    }

