@{
    ViewData["Title"] = "Configuración";
}
<h1 class="title-page">Configuración</h1>
<div class="container3">
    <a asp-action="AdminUsers" asp-controller="Usuario" class="btn-inicio">
        <i class="bi bi-person-gear mb-2"></i>
        <span>Usuarios</span>
    </a>
    <a asp-action="Index" asp-controller="Tarifaria" class="btn-inicio">
        <i class="bi bi-currency-dollar"></i>
        <span>Tarifaria</span>
    </a>
    <a asp-action="Index" asp-controller="EmpresasSepelios" class="btn-inicio">
        <i class="bi bi-buildings"></i>
        <span>Empresas de sepelio</span>
    </a>
    @*    <a asp-action="#" class="btn-inicio">
        <i class="bi bi-file-earmark-text"></i>
        <span>Configuración de documentos</span>
    </a> *@
    <a asp-action="index" asp-controller="TipoTramite" class="btn-inicio">
        <i class="bi bi-list-task"></i>
        <span>Tipos de trámite</span>
    </a>
    <a asp-action="Index" asp-controller="Cementerios" class="btn-inicio">
        <i class="bi bi-prescription2" style="transform: rotate(180deg);"></i>
        <span>Cementerios</span>
    </a>
    <a asp-action="Index" asp-controller="ConceptoTarifaria" class="btn-inicio">
        <i class="bi bi-ui-radios"></i>
        <span>Conceptos de la tarifaria</span>
    </a>
</div>